page-home {

  .content {
    background: #ECEFF1;
  }

  .card {
    padding: 0;
    margin: 5px;
    width: 100%;

    .card-header {
      h1 {
        font-size: 2rem;
        color: #333;
      }
    }
  }

  .taskcompleted {
    text-decoration: line-through;
  }

  .taskname {
    margin-left: 5px;
  }

  .taskempty {
    text-align: center;
    color:#d6d6da
  }

  ion-content {
    .flex-masonry-grid {
      padding: 4px 2px 4px 4px;
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      -moz-column-gap: 1px;
      -webkit-column-gap: 1px;
      column-gap: 1px;
      ion-card {
        display: inline-block;
        margin: 2px;
        width: calc(100% - 6px);
      }
    }
  }

}
