page-home {

  .content {
    background: #ECEFF1;
    .scroll-content {
      padding: 4px
    }

  }

  .card {
    padding: 0;
    margin: 0;
    width: 100%;

    .card-header {
      h1 {
        font-size: 2rem;
        color: #333;
      }
    }
  }

  .taskcompleted {
    text-decoration: line-through;
  }

  .taskname {
    margin-left: 5px;
  }

  .taskempty {
    text-align: center;
    color: #d6d6da
  }

  /*Columns Breakpoints*/
  masonry-brick {
    @media only screen and (min-width: 300px) {
      width: calc(50%);
      padding: 4px;
    }
    @media only screen and (min-width: 600px) {
      width: calc(33.3333%);
      padding: 4px;
    }
    @media only screen and (min-width: 900px) {
      width: calc(25%);
      padding: 6px;
    }
    @media only screen and (min-width: 1200px) {
      width: calc(20%);
      padding: 10px;
    }
  }
}
