page-home {

  .content {
    background: #ECEFF1;
  }

  .card {
    padding: 0;
    margin: 5px;
    width: 100%;

    .card-header {
      h1 {
        font-size: 2rem;
        color: #333;
      }
    }
  }

  .taskcompleted {
    text-decoration: line-through;
  }

  .taskname {
    margin-left: 5px;
  }

  .taskempty {
    text-align: center;
    color:#d6d6da
  }
}
