page-home {
  .project-editor {
    .scroll-content {
      padding: 16px !important;
    }
    .button-clear-md-dark{
      color: #787878;
      font-weight: 500;
    }
    .item-input{
      width: 74%;
      margin-left: 12.5%;
    }

    .save-item{
      font-size: 2.2rem;
      color: #787878;
      z-index: 99999;
      position: absolute;
      right: 7.5%;
      margin-top: -8%;
    }

    .task-completed{
      .label{
        text-decoration: line-through;
      }
    }

    .project-name{
      font-size: 2.3rem;
      font-weight: 600;
    }

    .remove-task{
      font-size: 2.2rem;
      z-index:9999
    }
  }
}
