page-project-editor {
  .item-input,
  .item-inner {
    border: none !important;
    box-shadow: none !important;
  }

  .list-header {
    border: none;
  }

  .button-clear-md-dark {
    color: #787878;
    font-weight: 500;
  }

  #project-title {
    padding-left: 10px;
    .input {
      font-size: 2.3rem;
      font-weight: 600;
    }
  }

  #task-title {
    padding-left: 10px;
  }

  .task-completed {
    .label {
      text-decoration: line-through;
    }
  }

  .task-check-empty {
    z-index: 10000
  }
}
