<ion-header>
  <ion-navbar color="yellow">
    <ion-title>
      {{ project.name ? project.name : ' Project Name' }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="removeProject()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding-vertical>
  <ion-list no-lines>
    <ion-item id="project-title">
      <ion-input class="project-name" type="text" placeholder="Project Name" [(ngModel)]="project.name"></ion-input>
    </ion-item>
    <ng-container *ngFor="let task of project.tasks">
      <ion-item *ngIf="showTaskEditor(task) && !task.completed">
        <button class="task-check-empty" ion-button icon-only item-left clear color="dark" (click)="task.completed=true">
          <ion-icon name="square-outline"></ion-icon>
        </button>
        <ion-input type="text" placeholder="Task" [(ngModel)]="task.name"></ion-input>
        <button ion-button icon-only item-right clear color="dark" (click)="removeTask(task)">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-item>
    </ng-container>
    <ion-item id="task-title">
      <ion-input type="text" placeholder="Add Task" [(ngModel)]="newTask"></ion-input>
      <button ion-button icon-only item-right clear color="dark" (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
    <ion-list-header *ngIf="checkForCompletedTasks()">
      Completed
    </ion-list-header>
    <ng-container *ngFor="let task of project.tasks">
      <ion-item class="task-completed" *ngIf="showTaskEditor(task) && task.completed">
        <ion-label>{{ task.name }}</ion-label>
        <ion-checkbox item-left color="dark" [(ngModel)]="task.completed" (ionChange)="saveTask(task)"></ion-checkbox>
        <button ion-button icon-only item-right clear color="dark" (click)="removeTask(task)">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
